:root{
    --gradient: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
    --box-shadow: 0 0 1.3em 0.5em rgb(30, 41, 59, 0); 
}

*{
    box-sizing: border-box;
}

body{
    padding: 0 auto;
    position: relative;
    max-width: 1200px;
    font-family: Poppins, sans-serif;
    /*background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
    height: 100%;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgb(30, 41, 59);
}

.effect-on-hover:hover{
    transform: scale(1.01);
    border-color: #adadad;
}

.effect-on-hover{
    border: 2px solid transparent;
    transition: transform .2s ease-in-out;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}
